{% include "header_sidebar" %}

<div class="container-fluid p-0">

{% include "home_section/about" %}
{% include "home_section/experience" %}
{% include "home_section/education" %}
{% include "home_section/skills" %}
{% include "home_section/interests" %}
{% include "home_section/awards" %}

</div>

